-i https://pypi.org/simple
coverage==5.5
pytest<5
pipenv==2021.5.29
pytest-sugar==0.9.4
pyrsistent==0.16.1
pytest-cov
bump2version
swagger-spec-validator==2.7.3
swagger-stub==0.2.1
https://github.com/jakedialpad/swagger-parser/archive/refs/tags/v1.0.1b.tar.gz
