[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
swagger-parser = {editable = true,git = "ssh://git@github.com/jakedialpad/swagger-parser.git",ref = "v1.0.1b"}
swagger-stub = "*"

[packages]
requests = "*"
cached-property = "*"

[requires]
python_version = "2.7"
