[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
swagger-parser = {ref = "v1.0.1b",git = "ssh://git@github.com/jakedialpad/swagger-parser.git",editable = true}
swagger-stub = "*"
bump2version = "*"

[packages]
requests = "*"
cached-property = "*"

[requires]
python_version = "2.7"
